.header-container {
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(16, 16, 16, 0) 100%
  );
  z-index: 1;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}
.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
.header-left-container {
  position: absolute;
  display: flex;
  width: 100%;
}
.header-left {
  display: flex;
  justify-content: flex-end;
  transition: 1s all;
  width: 12rem;
}
.header-left-merged {
  width: 100%;
}
.header-right {
  display: flex;
}
.header-right-main-text {
  width: 0rem;
  text-align: center;
  overflow: hidden;
  transition: 1s all;
}
.haeder-right-main-text-merged,
.main-text {
  width: 10rem;
  text-align: center;
}
.invi {
  opacity: 0;
}
.header span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
