@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
  color: #eee;
}

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
  background: #232323;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* background patter */
.background-pattern {
  background-image: url("/public/patternX.svg");
  background-size: 30px;
}