.magicRay.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.5s;
}

.magicRay.wrapper .--relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.magicRay .ray {
  background-color: red;
  content: "";
  position: absolute;
  border-radius: 5px 5px 100% 100%;
  transition: all 0.5s ease-in;
  width: 5px;
  height: 5px;
}

.magicRay .ray.top {
  width: 5px;
  height: 100px;
  top: -100px;
}