@import './_colors.scss';

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-bottom-color: rgba($color: $color_primary, $alpha: 1.0)}
    to{border-bottom-color: transparent;}
  }